@use "../utils/MediaQueary.module" as *;

.contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0 auto !important;
  padding-top: 5rem;
  background-image: -webkit-repeating-linear-gradient(
      135deg,
      transparent,
      #bbab8c3a 25%,
      #bbab8c3a 25%,
      transparent 50%,
      transparent 50%
    ),
    -webkit-repeating-radial-gradient(#bbab8c3a, #bbab8c3a);
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    #bbab8c3a 25%,
    #bbab8c3a 25%,
    transparent 50%,
    transparent 50%
  );
  background-size: 6px 6px;
  background: #ddd8c4 !important;
  color: #2f2f2f;

  .title {
    font-size: 40px;
    font-weight: 900;
  }

  section {
    width: 70%;
    background: linear-gradient(
      to right,
      rgb(222, 202, 166),
      rgb(233, 207, 156)
    );
    border-radius: 40px;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #5d533d;
    margin-top: 50px;
    margin-bottom: 120px;

    @media #{$mobile} {
      width: 97%;
      padding: 50px 10px;
      flex-direction: column;
      margin-bottom: 60px;
      row-gap: 50px;
    }
    @media #{$tablet} {
      width: 90%;
      padding: 50px 10px;
      margin-bottom: 60px;
      row-gap: 50px;
      justify-content: center;
    }

    .image {
      border-radius: 20px;
      @media #{$mobile} {
        display: none;
      }
      @media #{$tablet} {
        display: none;
      }
    }
  }
}
