@use "../utils/MediaQueary.module" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto !important;
  padding-top: 5rem;
  background-image: -webkit-repeating-linear-gradient(
      135deg,
      transparent,
      #bbab8c3a 25%,
      #bbab8c3a 25%,
      transparent 50%,
      transparent 50%
    ),
    -webkit-repeating-radial-gradient(#bbab8c3a, #bbab8c3a);
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    #bbab8c3a 25%,
    #bbab8c3a 25%,
    transparent 50%,
    transparent 50%
  );
  background-size: 6px 6px;
  background: #ddd8c4 !important;
  color: #2f2f2f;

  .title {
    font-size: 40px;
    font-weight: 900;
  }

  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 20px;
    padding-right: 15rem;
    padding-left: 15rem;
    background-image: -webkit-repeating-linear-gradient(
        135deg,
        transparent,
        #bbab8c3a 25%,
        #bbab8c3a 25%,
        transparent 50%,
        transparent 50%
      ),
      -webkit-repeating-radial-gradient(#bbab8c3a, #bbab8c3a);
    background-image: repeating-linear-gradient(
      -45deg,
      transparent,
      #bbab8c3a 25%,
      #bbab8c3a 25%,
      transparent 50%,
      transparent 50%
    );
    background-size: 6px 6px;
    background: #ddd8c4 !important;
    padding-top: 70px;
    padding-bottom: 20px;

    @media #{$mobile} {
      padding-right: 2rem;
      padding-left: 2rem;
    }
    @media #{$tablet} {
      padding-right: 2rem;
      padding-left: 2rem;
    }

    #card{
      width: 100%;
      display: flex;
      justify-content: center !important;
      align-items: center !important;
    }

    h1 {
      font-size: 35px;
      font-weight: 900;
    }
    h2{
      font-size: 25px;
      padding-right: 20px;
    }
  }
  .stair {
    padding-bottom: 50px;
  }
}
