@use "./utils/MediaQueary.module" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto !important;
  background: #ddd8c4 !important;

  .hero {
    width: 100%;
    height: 1000vw;
    background-image: url("../../public/assets/woodBgHero.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 15rem;
    padding-left: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 10rem;
    row-gap: 20px;
    position: relative;
    @media #{$mobile} {
      height: 100%;
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 4rem;
    }

    @media #{$tablet} {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .heroMobileBtn {
      display: none;
      padding: 0.8em 1.8em;
      border: 1.5px solid #fff;
      text-shadow: 1px 1px 3px #000;
      position: relative;
      overflow: hidden;
      background-color: transparent;
      text-align: center;
      text-transform: uppercase;
      font-size: 16px;
      transition: 0.3s;
      z-index: 1;
      font-family: inherit;
      color: #fff;
      text-decoration: none;
      border-radius: 10px;

      @media #{$mobile} {
        display: flex;
      }
    }
    .heroMobileBtn::before {
      content: "";
      width: 0;
      height: 300%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      background: #bbab8c;
      transition: 0.5s ease;
      display: block;
      z-index: -1;
    }
    .heroMobileBtn:hover::before {
      width: 105%;
    }

    .heroMobileBtn:hover {
      color: #fff;
    }

    h1 {
      position: relative;
      font-size: 9em;
      text-transform: uppercase;
      text-align: center;
      background: url("../../public/assets/wood-black.jpg");
      background-attachment: fixed;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      @media #{$mobile} {
        font-size: 70px;
      }

      &::before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        text-shadow: -5px 5px 4px rgba(0, 0, 0, 0.785);
      }
    }
    p {
      color: #fff;
      font-size: 25px;
      font-weight: 500;
      text-shadow: 1px 1.5px 2px #000;
      @media #{$mobile} {
        font-size: 18px;
        text-align: center;
      }
    }
  }

  .services {
    width: 100%;
    padding-right: 15rem;
    padding-left: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    row-gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: -webkit-repeating-linear-gradient(
        135deg,
        transparent,
        #bbab8c3a 25%,
        #bbab8c3a 25%,
        transparent 50%,
        transparent 50%
      ),
      -webkit-repeating-radial-gradient(#bbab8c3a, #bbab8c3a);
    background-image: repeating-linear-gradient(
      -45deg,
      transparent,
      #bbab8c3a 25%,
      #bbab8c3a 25%,
      transparent 50%,
      transparent 50%
    );
    background-size: 6px 6px;
    background: #ddd8c4 !important;
    @media #{$mobile} {
      padding-left: 2rem;
      padding-right: 2rem;
      align-items: center;
    }
    @media #{$tablet} {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .title {
      font-size: 40px;
      color: rgb(39, 39, 39);
      font-weight: 800;
      @media #{$mobile} {
        font-size: 35px;
      }
    }
  }

  .workSamples {
    width: 100%;
    padding-right: 15rem;
    padding-left: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    row-gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: -webkit-repeating-linear-gradient(
        135deg,
        transparent,
        #bbab8c3a 25%,
        #bbab8c3a 25%,
        transparent 50%,
        transparent 50%
      ),
      -webkit-repeating-radial-gradient(#bbab8c3a, #bbab8c3a);
    background-image: repeating-linear-gradient(
      -45deg,
      transparent,
      #bbab8c3a 25%,
      #bbab8c3a 25%,
      transparent 50%,
      transparent 50%
    );
    background-size: 6px 6px;
    background: #ddd8c4 !important;
    @media #{$mobile} {
      padding-left: 2rem;
      padding-right: 2rem;
      align-items: center;
    }
    @media #{$tablet} {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .title {
      font-size: 40px;
      color: rgb(39, 39, 39);
      font-weight: 800;
      @media #{$mobile} {
        font-size: 35px;
      }
    }
    .btn {
      display: inline-block;
      padding: 12px 24px;
      border-radius: 10px;
      transition: all 0.2s ease-in;
      position: relative;
      overflow: hidden;
      font-size: 20px;
      cursor: pointer;
      z-index: 1;
      text-decoration: none;
      color: #bbab8c;
      border: solid 1px #bbab8c;
    }
    .btnContainer {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .btn:before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%) scaleY(1) scaleX(1.25);
      top: 100%;
      width: 140%;
      height: 180%;
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 50%;
      display: block;
      transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
      z-index: -1;
    }
    .btn:after {
      content: "";
      position: absolute;
      left: 55%;
      transform: translateX(-50%) scaleY(1) scaleX(1.45);
      top: 180%;
      width: 160%;
      height: 190%;
      background-color: #bbab8c;
      border-radius: 50%;
      display: block;
      transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
      z-index: -1;
    }
    .btn:hover {
      color: #ffffff;
      border: 1px solid #bbab8c;
    }
    .btn:hover:before {
      top: -35%;
      background-color: #bbab8c;
      transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    }
    .btn:hover:after {
      top: -45%;
      background-color: #bbab8c;
      transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    }
  }

  .banner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15rem;
    padding-left: 15rem;
    padding-top: 70px;
    padding-bottom: 40px;
    background-color: #0000005b;
    background-blend-mode: multiply;
    background-image: url("../../public/assets/bannerBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    @media #{$mobile} {
      padding-left: 2rem;
      padding-right: 2rem;
      flex-direction: column;
      background-image: url("../../public/assets/bannerBGMobile.jpg");
      background-size: cover;
      padding-top: 30px;
      row-gap: 20px;
    }
    @media #{$tablet} {
      padding-left: 2rem;
      padding-right: 2rem;
      padding-top: 30px;
      column-gap: 40px;
      align-items: flex-start;
    }

    .contact {
      padding: 30px;
      height: 400px;
      background-color: #ded0b68f;
      backdrop-filter: blur(20px);
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 10px;
      box-shadow: 5px 5px 30px #00000021, inset 0px 0px 30px #faeed187;
      @media #{$mobile} {
        backdrop-filter: blur(5px);
      }

      span {
        font-size: 17px;
        font-weight: 300;
        @media #{$mobile} {
          font-size: 15px;
        }
      }
      h1 {
        font-size: 30px;
        font-weight: 700;
        @media #{$mobile} {
          text-align: center;
          font-size: 25px;
        }
        @media #{$tablet} {
          text-align: center;
        }
      }
      .link {
        font-size: 27px;
        font-weight: 900;
        transition: all 0.3s;
        text-decoration: none;
        color: #fff;
      }
      .link:hover {
        color: #fdf7e4;
      }
    }
    .description {
      width: 60%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      row-gap: 20px;
      @media #{$mobile} {
        width: 100%;
      }
      h1 {
        font-size: 35px;
        font-weight: 900;
        @media #{$mobile} {
          text-align: center;
        }
      }
      p {
        width: 95%;
        font-size: 18px;
        font-weight: 400;
        line-height: 34px;
        @media #{$mobile} {
          width: 100%;
          font-size: 15px;
          font-weight: 300;
          line-height: 30px;
        }
        span {
          display: block;
          padding-bottom: 15px;
        }
      }
      .typeAnimation {
        font-size: 40px;
        color: #ded0b6;
        font-weight: 800;
        background: #bbab8c2b;
        border-radius: 10px;
        padding: 10px;
        backdrop-filter: blur(10px);
      }
    }
  }

  .locationContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 15rem;
    padding-left: 15rem;
    padding-top: 80px;
    padding-bottom: 100px;
    background-color: #dbd1a374;
    opacity: 0.8;
    background-image: repeating-radial-gradient(
        circle at 0 0,
        transparent 0,
        #cfba93d7 10px
      ),
      repeating-linear-gradient(#ebe0bcbc, #dfcaa6);
    @media #{$mobile} {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    @media #{$tablet} {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    .location {
      width: 80%;
      background: linear-gradient(
        to right,
        rgb(211, 188, 146),
        rgb(211, 189, 146)
      );
      border-radius: 40px;
      padding: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #5d533d;
      @media #{$mobile} {
        width: 100%;
        flex-direction: column;
        row-gap: 30px;
        padding: 30px;
        border-radius: 20px;
      }
      @media #{$tablet} {
        width: 100%;
        padding: 40px;
        border-radius: 30px;
        column-gap: 50px;
      }
      .locationMap {
        @media #{$mobile} {
          width: 300px;
        }
      }

      div {
        width: 45%;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        @media #{$mobile} {
          width: 100%;
        }

        h1 {
          font-size: 30px;
          font-weight: 700;
          text-shadow: 0 0 1px #000000d8;
        }
        p {
          font-size: 18px;
          font-weight: 400;
          text-shadow: 0 0 1px #000000d8;
          span {
            font-weight: 900;
          }
        }
      }
    }
  }
}
